<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Taco Cloud</title> </head>
    <body>

        <h1>Login</h1>
        <img th:src="@{/images/TacoCloud.png}" width="150" height="150"/>

        <div th:if="${error}">
            Unable to login. Check your username and password.
        </div>
<!--        http://localhost:8080/login/oauth2/code/google-->
        <p>New here? Click
        <a th:href="@{/register}">here</a> to register.</p>

        <a th:href="@{'/oauth2/authorization/google'}">Sign in with Google</a>

        <form method="POST" th:action="@{/authenticate}" id="loginForm">

            <label for="username">Username: </label>
            <input type="text" name="user" id="username" /><br/>
            <!-- name="user" name="pwd" указываю те которые от меня ожидают.
            в SecurityConfig прописаны .usernameParameter("user").passwordParameter("pwd")-->

            <label for="password">Password: </label>
            <input type="password" name="pwd" id="password" /><br/>

            <input type="submit" value="Login"/>
        </form>
    </body>
</html>